<div class="navbar-avsf">
  <%= link_to root_path do %>
    <i class="fa-solid fa-microphone-lines home-button"></i>
  <% end %>
  <%= link_to "Episodes", episodes_path, class: "navbar-link" %>
  <span class="navbar-link">|</span>
  <%= link_to "Donate", root_path, class: "navbar-link" %>
  <span class="navbar-link">|</span>
  <%= link_to "Join the Show", root_path, class: "navbar-link" %>
  <span class="navbar-link">|</span>
  <%= link_to "Contact", root_path, class: "navbar-link" %>
  <span class="navbar-link">|</span>
  <%= link_to "About", root_path, class: "navbar-link" %>
  <div class="dropdown">
    <button class="btn dropdown-toggle navbar-menu" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      ☰
    </button>
    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
      <%= link_to "Episodes", root_path, class: "dropdown-item" %>
      <span class="navbar-link">|</span>
      <%= link_to "Donate", root_path, class: "dropdown-item" %>
      <span class="navbar-link">|</span>
      <%= link_to "Join the Show", root_path, class: "dropdown-item" %>
      <span class="navbar-link">|</span>
      <%= link_to "Contact", root_path, class: "dropdown-item" %>
      <span class="navbar-link">|</span>
      <%= link_to "About", root_path, class: "dropdown-item" %>
    </div>
  </div>
</div>
